/* CSS BY ADRIAN ACOSTA */
/* IMPORTED FONTS */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap");

/* CSS REST */
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  display: block;
}
table {
  border-collapse: collapse;
  width: 100%;
}

/* ROOT VARIABLES */
:root {
  --teal: #4ca7c0;
  --purple: #484fb7;
  --lavender: #6b8fe7;
  --yellow: #e9bb57;
  --pink: #d9536f;
  --dark-gray: #1e1e1e;
  --white: #ffffff;
  --column: 430px;
  --radius: 16px;
  --gap: 16px;
    --shadow: 0 4px 12px rgba(0, 0, 0, 08);

}

/* GLOBAL STYLES (mobile first/small) */
body {
  font-family: "Inter", sans-serif;
  color: var(--dark-gray);
  background: var(--lavender);
}

body {
    position: relative;
    min-height: 100vh;
}

body::before {
    content: "";
    position: fixed;
    top: 0; bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: var(--column);
    background: var(--purple);
    z-index: -1;
    pointer-events: none;
}

.website-header {
    background: transparent;
    color: var(--white);
    text-align: center;
    padding: 16px 0 0;
    position: relative;
}

.website-header .container{
    width: var(--column);
    padding: 12px;
    margin: 0 auto;
}

h1,h2 {
  font-family: "Kavoon";
}

h1 {
  font-size: 3em;
}
.tagline {
  font-size: 1em;
}

.website-header h1 {
    margin: 0;
}

.website-header .tagline {
    margin: 6px 0 10px;
    line-height: 1.2;
}

.website-header .container {
    padding-bottom: 24px;
}

.main-navigation {
  background: var(--yellow);
  width: var(--column);
  margin: 0 auto;
  padding: 12px;
}
.nav-label {
  font-size: 1.5em;
  font-family: "Inter";
  font-style: italic;
  font-weight: 700;
  color: var(--dark-gray);
  text-align: center;
  margin: 0 0 8px;
}
.nav-list {
  list-style: none;
  padding: 0px;
  display: grid;
  gap: 10px;
}
.nav-list a {
  text-decoration: none;
  color: var(--purple);
  font-weight: 600;
  display: block;
  padding: 16px;
  background: var(--white);
  text-align: center;
}

section > header h2 {
    font-size: 2em;
    margin: 0;
    color: var(--white);
}

section > header {
    margin: 8px 0 12px;
}

h3 {
    font-size: 1.5em;
    margin: 4px 0 0;
    color: var(--yellow);
}

h4 {
    font-size: 1.15em;
}

#content {
    width: var(--column);
    margin: 16px auto;
    padding: 0 12px 24px;
    background: transparent;
}

.service {
    display: grid;
    gap: var(--gap);
}

.service-description {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    gap: 12px;
    margin: 8px 0;
    background-color: var(--white);
    border-radius: var(--radius);
    padding: 12px;
    text-align: left;
    box-shadow: var(--shadow);
}

.service-image {
    width: 80px;
    height: 80px;
    margin: 0 0 8px;
    border-radius: 16px;
    display: grid;
    overflow: hidden;
    background: transparent;
}

.service-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 16px;
}

.reasons-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    gap: var(--gap);
    grid-template-columns: 1fr 1fr;
    color: var(--dark-gray);
}

.reasons-list li {
    background: var(--white);
    border-radius: var(--radius);
    padding: 12px;
    text-align: center;
    box-shadow: var(--shadow);
}

.reasons-list h3 {
    margin: 0;
    font-size: 1.25em;
}

.service-block {
    margin-bottom: var(--gap);
}

#why-us {
    background: var(--pink);
    padding: 24px 12px;
    margin: 24px -12px;
}

#why-us > header h2 {
    color: var(--white);
    padding: 0 0 16px;
}

#why-us .reasons-list li:nth-child(1) { 
    background: var(--teal); color: var(--dark-gray); 
}
#why-us .reasons-list li:nth-child(2) { 
    background: var(--purple); color: var(--dark-gray); 
}
#why-us .reasons-list li:nth-child(3) { 
    background: var(--yellow); color: var(--dark-gray); 
}
#why-us .reasons-list li:nth-child(4) { 
    background: var(--white); color: var(--dark-gray); 
}

#why-us .reasons-list h3 {
    color: inherit;
}

.service-block {
    background: transparent;
    padding: 0;
}

.service-block > h3 {
    margin: 0 0 8px;
    text-align: left;
}

#pricing .service-block .pricing-table{
    width: 340px;
    margin: 0 auto;
    background: var(--yellow);
    border: var(--radius);
    border-collapse: separate;
    border-spacing: 10px 10px;
}

#pricing .pricing-table thead th {
    background: transparent;
    color: var(--dark-gray);
    font-weight: 700;
    padding: 8px 12px;
    text-align: left;
}

#pricing .pricing-table thead th:last-child {
    text-align: right;
}

#pricing .pricing-table tbody th,
#pricing .pricing-table tbody td {
    background: var(--white);
    vertical-align: middle;
    padding: 10px 12px;
}

#pricing .pricing-table tbody th {
    width: 65%;
    text-align: left;
}

#pricing .pricing-table tbody td {
    width: 35%;
    text-align: right;
}

#first-steps {
    background: var(--pink);
    color: var(--white);
    text-align: left;
    padding: 24px 12px 0.25px;
    margin: 24px -12px 0;
}

#first-steps .btn {
    background: var(--white);
    color: var(--dark-gray);
    text-decoration: none;
    font-weight: 700;
    padding: 18px 0;
    width: 100%;
    margin: 12px auto 0;
    display: block;;
    box-shadow: var(--shadow);
    text-align: center;
    border-radius: 9999px;
    font-size: 1.25rem;
}

.website-footer {
    color: var(--white);
    width: var(--column);
    margin: 16px auto 32px;
    text-align: center;
    padding: 36px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.website-footer p {
    margin: 0;
}

.website-footer a {
    color: var(--white);
    text-decoration: underline;
    font-weight: 600;
}